In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd

## Read data

In [2]:
df = pd.read_csv('raw_twitter_data.csv')

In [3]:
df

,tweet_id,sentiment,content
0,1956967341,empty,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,wants to hang out with friends SOON!
4,1956968416,neutral,@dannycastillo We want to trade with someone w...
...,...,...,...
39995,1753918954,neutral,@JohnLloydTaylor
39996,1753919001,love,Happy Mothers Day All my love
39997,1753919005,love,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,@mopedronin bullet train from tokyo the gf ...

## Define function to remove special character

In [4]:
def remove_special_char(df, index):
    new_list = []
    for i in df['content'][index].split():
        if '@' not in i and 'http' not in i:
            new_list.append(i)
    return " ".join(new_list)

In [5]:
for i in range(len(df)):
    new_df_content = remove_special_char(df,i)
    if new_df_content == '':
        df.drop(i, inplace=True)
    else:
        df.at[i,'content'] = new_df_content

## Drop the useless column and split the data to train and test

In [6]:
new_df = df.drop('tweet_id', axis=1)

In [7]:
train,test = train_test_split(new_df, test_size=0.10, random_state=0)

In [8]:
train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index=False)